.Modal-Content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  transform: translateX(500px);
}

@media (max-width: 1024px) and (min-height: 600px) {
  .Modal-Content {
    transform: translateY(-150px) translateX(200px);
    width: 50%;
  }
}
